/*
UI COLORS:

$chef-green: #48B3AA;
$chef-green-dark: #1F998F;
$dark-gray: #2E3338;
$semi-gray: #737F8C;
$light-gray: #ABB2BA;
$pure-white: #FFFFFF;
$lighter-gray: #FAFAFA;
$border-gray: rgba(227, 230, 232, 0.7);
$overlay-dark:  rgba(0, 0, 0, 0.6);
$alert-red: #FA0057;

BRAND COLORS:

$fresh-green: #37BD55;
$pantry-gray: #858585;
$dairy-blue: #6FB4F8;
$bread-orange:  #D99B21;
$meat-red:  #F84D4D;
$drink-pink:  #E34CF0;
$fish-turquoise: #0DCCAA;

BUTTON:

$white-smoke: #F2F5F7;
$click-green: #34AFA0;

BUTTON TEXT:

$button-black: #5C6166;
*/

.vheight-100 {
  min-height: 100vh;
}

.width-100 {
  min-width: 100%;
}

.below-nav {
  padding-top: 1rem;
}

.page {
  min-height: 87vh;
  overflow-x: hidden;
}

.table .dropdown {
  position: static !important;
}

.nav{
  background-color: #37BD55 !important;
}

.register-form {
  margin-top: 2em;
  padding-bottom: 1em;
  border: 4px solid #37BD55;
  border-radius: 10px 10px 10px 10px;
  height: 75%;
  background-color: #fff9ea;
}
.user-icon {
  margin-top: -2.3em;
  margin-bottom: 1em;
  color: #37BD55;
}


th{
  color: #2E3338;
  background-color: #b4e6e2;
}
.negative{
  background-color: #ffcccb;
}

.positive{
  color: #2E3338;
}

.carousel{
  max-width: 50vw;
  max-height: 80vh;
  margin-left: auto;
  margin-right: auto;
}
.carousel-item > img { 
  max-width: 65vw;
  max-height:40vh;
  margin-left: auto;
  margin-right: auto;
}
